<form #form="ngForm" novalidate>
  <h4 class="stepper-legend">Datos de la Partida</h4>
  <div fxLayout fxLayoutGap="10px" class="mat-form-field-100">
    <mat-form-field style="width: 350px;">
      <input matInput
        name="nombre"
        [(ngModel)]="partida.name"
        placeholder="nombre"
        [formControl]="nameControl"
        required>
        <mat-error *ngIf="nameControl.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 350px;">
      <input matInput
        name="historia"
        [(ngModel)]="partida.history"
        placeholder="historia"
        [formControl]="historyControl"
        required>
        <mat-error *ngIf="historyControl.invalid">{{getHistoryErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 200px;">
      <input matInput
        type="number"
        min="0"
        name="cantidad jugadores"
        [(ngModel)]="partida.cantPlayersMax"
        placeholder="cantidad jugadores"
        [formControl]="cantPlayerControl"
        required>
        <mat-error *ngIf="cantPlayerControl.invalid">{{getCantPlayerErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <h3>Comentarios</h3>
    <div fxLayout class="mat-form-field-100">
      <mat-form-field>
        <textarea matInput placeholder="..." ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout fxLayoutGap="10px" fxLayoutAlign="end start">
    <!-- <button mat-button matStepperNext color="success" fxFlex="100px">Siguiente</button> -->
    <button mat-button (click)="save()" color="success" fxFlex="100px">Crear</button>
  </div>
</form>
