.inputContainer label {
  padding: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.rollButtonContainer{
  margin-top: 10px;
  margin-bottom: 10px;
}
.paddingForm{
  padding: 5px;
}

.backColor{
  background-color: #93a4bf;
}

.marginTop{
  margin-top: 2px;
}

.finishButton {
  background-color: #01af27;
  margin-top: 10px;
}
