<div class="paddingForm">
  <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <ng-template ngFor let-index="index" let-dice [ngForOf]="dataSet">
      <div class="inputContainer">
        <label>d{{dice.descriptor}}</label>
        <div><input
          type="number"
          [(ngModel)]="dice.value"
          name="diceOf{{dice.descriptor}}"
          min="0"></div>
        <label>modifier</label>
        <input type="number">
      </div>

    </ng-template>
    <div>
      <button type="submit" mat-raised-button color="primary" class="rollButtonContainer">Roll</button>
      <button (click)="resetDice()" mat-raised-button color="warn">Clear Die</button>
    </div>
  </form>
</div>
