<mat-accordion>
  <mat-expansion-panel class="backColor" [expanded]="true">
    <mat-expansion-panel-header>
      Dados
    </mat-expansion-panel-header>
    <div class="paddingForm">
      <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div fxLayout="row" fxLayoutGap="5px" class="inputContainer">
          <!-- <button mat-mini-fab>Basic</button> -->
          <div fxLayout="column"  fxFlex="80px">
            <h2>Cantidad</h2>
          </div>
          <div fxLayout="column"  fxFlex="80px">
            <h2>Modificadores</h2>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxLayoutGap="5px" fxFlex="100px">
            <ng-template ngFor let-index="index" let-dice [ngForOf]="dataSet">
              <div fxLayout="row" fxLayoutGap="5px" class="inputContainer">
                <div fxLayout="column"  fxFlex="40px">
                  <input
                    type="number"
                    [(ngModel)]="dice.value"
                    name="diceOf{{dice.descriptor}}"
                    min="0"
                    class="amount">
                </div>
                <div fxLayout="column"  fxFlex="40px">
                  <label>d{{dice.descriptor}}</label>
                </div>
              </div>
            </ng-template>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <ng-template ngFor let-index="index" let-dice [ngForOf]="dataSet">
              <div fxLayout="row" fxLayoutGap="5px" class="inputContainer">
                <div fxLayout="column"  fxFlex="40px">
                  <input class="marginTop"
                    type="number"
                    [(ngModel)]="dice.modifier"
                    name="modifierOf{{dice.descriptor}}">
                </div>
              </div>
            </ng-template>
          </div>
        </div>

        <div fxLayout="row">
          <div>
            <button type="submit" mat-raised-button color="primary" class="rollButtonContainer" [disabled]="!yourTurn">Tirar</button>
            <button type="button" (click)="throwInitiative()" mat-raised-button color="primary" class="rollButtonContainer" [disabled]="!yourTurn">Tirar iniciativa</button>
            <!-- <button type="submit" mat-raised-button color="primary" class="rollButtonContainer">Tirar</button>
            <button type="button" (click)="throwInitiative()" mat-raised-button color="primary" class="rollButtonContainer">Tirar iniciativa</button> -->
            <button type="button" (click)="resetDice()" mat-raised-button color="warn" [disabled]="!yourTurn" >Limpiar Dados</button>
            <button mat-raised-button (click)="finishTurn()" class="finishButton" [disabled]="!yourTurn">
              <!-- <mat-icon>done</mat-icon> -->
                Finalizar Turno
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
