.btnPanel {
  margin-bottom: 5px;
}

.backColor{
  background-color: #93a4bf;
}

.btnInitiative {
  background-color: #1eff61;
  margin-bottom: 5px;
}

.btnHistory {
  background-color: #aa2020;
  margin-bottom: 5px;
}

.btnGiveTurn {
  background-color: #576dc1;
  margin-bottom: 5px;
  width: 150px;
  color: white;
}
