<mat-accordion>
  <mat-expansion-panel class="backColor">
    <mat-expansion-panel-header>
      DM Panel
    </mat-expansion-panel-header>
      <div class="">
        <ng-template ngFor let-index="index" let-actor [ngForOf]="actors">
          <!-- <div class="">
            <button mat-raised-button (click)="openDialog()"> nombre: {{ actor.name }} </button>
          </div> -->
        </ng-template>
        <button mat-raised-button (click)="iniciative()" class="btnGiveTurn">
          <mat-icon>whatshot</mat-icon>
            Iniciativa
        </button>
        <button mat-raised-button (click)="combatMode()" class="btnGiveTurn">Modo Combate</button>
        <button mat-raised-button (click)="historyMode()" class="btnGiveTurn">
          <mat-icon>history</mat-icon>
            Historia
        </button>
        <button mat-raised-button (click)="darTurno()" class="btnGiveTurn">
          <mat-icon>fullscreen_exit</mat-icon>
            Dar Turno
        </button>
        <button mat-raised-button (click)="agregarPersonaje()" class="btnGiveTurn">
            Agregar Personaje
        </button>
        <button mat-raised-button (click)="borrarPersonaje()" class="btnGiveTurn">
            Borrar Personaje
        </button>
      	<div id='grand'></div>
        <input style="display: none" type="file" (change)="saveMap($event)" #fileInput>
        <button mat-raised-button (click)="fileInput.click()" class="btnGiveTurn">
          <mat-icon>map</mat-icon>
            Cargar Mapa
          </button>
      </div>
      <div class=""> Mapas :
          un texto
          <ng-template ngFor let-index="index" let-map [ngForOf]="maps">
            <div class="">
              <a (click)="setMap(map)">{{ map.name }} </a>
            </div>
          </ng-template>
      </div>
    </mat-expansion-panel>
</mat-accordion>
