<mat-accordion>
  <mat-expansion-panel class="backColor">
    <mat-expansion-panel-header>
      DM Panel
    </mat-expansion-panel-header>
      <div class="">
        <ng-template ngFor let-index="index" let-actor [ngForOf]="actors">
          <!-- <div class="">
            <button mat-raised-button (click)="openDialog()"> nombre: {{ actor.name }} </button>
          </div> -->
        </ng-template>
        <button mat-raised-button (click)="iniciative()" class="btnInitiative">
          <mat-icon>whatshot</mat-icon>
            Iniciativa
        </button>
        <button mat-raised-button (click)="combatMode()" class="btnPanel">Modo Combate</button>
        <button mat-raised-button (click)="historyMode()" class="btnHistory">
          <mat-icon>history</mat-icon>
            Historia
        </button>
        <button mat-raised-button (click)="darTurno()" class="btnGiveTurn">
          <mat-icon>fullscreen_exit</mat-icon>
            Dar Turno
        </button>
        <!-- <div id="content">
      		<p><b>Mouse Action:</b>
      			<label><input type="radio" name="action" id="mouseDrag">Drag</label>
      			<label><input type="radio" name="action" id="mouseAdd">Add</label>
      			<label><input type="radio" name="action" id="mouseDelete">Delete</label>
      		</p>
      		<div id="canvas-holder">
      			<canvas id="maincanvas"></canvas>
      		</div>
      	</div> -->
      	<div id='grand'></div>
        <input style="display: none" type="file" (change)="saveMap($event)" #fileInput>
        <button mat-raised-button (click)="fileInput.click()" class="btnPanel">
          <mat-icon>map</mat-icon>
            Cargar Mapa
          </button>
      </div>
      <div class=""> Mapas :
        <ng-template ngFor let-index="index" let-map [ngForOf]="maps">
          <div class="">
            <a (click)="setMap(map)">{{ map.name }} </a>
          </div>
        </ng-template>
      </div>

    </mat-expansion-panel>
</mat-accordion>
