<form #form="ngForm" novalidate class="paddingForm">
  <h4 class="stepper-legend">Creacion del Personaje</h4>
  <div fxLayout fxLayoutGap="10px" class="mat-form-field-80">
    <mat-form-field>
      <input matInput
        name="nombre"
        [(ngModel)]="actor.name"
        placeholder="nombre"
        required>
    </mat-form-field>
  </div>
  <div fxLayout fxLayoutGap="10px" fxLayoutAlign="end start">
    <button mat-button (click)="save()" color="success" fxFlex="100px">Finalizar</button>
  </div>
</form>
