.page-header{
  background-color: #252d22;
  color: #FFF;

}

.account-menu{
  box-shadow: none;
  background-color: #183b0b;
  .mat-menu-content{
    box-shadow: none;
    background-color: #183b0b;
  }
}
