img {
  display: block;
}

.dashboardImage {
  height:auto;
  width:auto;
}

.dashText {
  position: absolute;
  top: 80px;
  right: 40px;
  margin-left: 10px;
  font-size: x-large;
  color: white;
  font-family: fantasy;
}
