<div fxLayout="row" id="currGame">
  <div fxLayout="column" id="controllers-column">
      <app-dm-panel #dmPanel
        [hidden]="!isDM"
        (onHandleNewPersonaje)="handleNewPersonaje()"
        (onHistoryMode)="handleHistoryMode()"
        (onCombatMode)="handleCombatMode($event)"
        (onSetActors)="handleSetActors($event)"
        (onSetMap)="handleSetMap($event)"
        (onInitiative)="handleInitiative()">
      </app-dm-panel>
      <app-roller-control #rollerControl
        [dataSet]="dataSet"
        (onCombatMode)="handleCombatMode($event)"
        (onThrowInitiative)="doThrowInitiative()"
        (onRoll)="doRoll()">
      </app-roller-control>
      <app-game-log #gameLogger
        (onChat)="doChat($event)"
        [actorListNew]="actors">
      </app-game-log>
      <app-actor-list #actorList
        (onSetActor)="setActor($event)">
      </app-actor-list>
  </div>
  <div fxLayout="col">
    <app-canvas-dice-roll #diceRoller
      (onMoveUpMouse)="doOnMouseMove($event)">
    </app-canvas-dice-roll>
  </div>
  </div>
<div fxLayout="col">
</div>

<div *ngIf="enanosi" class="ElEnano">
    <div class="enanoText">
        Bienvenido a tu nueva partida
    </div>
    <img src="assets/images/dwarf.jpg">
</div>
