<div fxLayout="row" id="currGame">
  <div fxLayout="column" id="controllers-column">
      <app-dm-panel
        (onSetActors)="handleSetActors($event)"
        (onSetMap)="handleSetMap($event)">
      </app-dm-panel>
      <app-roller-control
        [dataSet]="dataSet"
        (onRoll)="doRoll()">
      </app-roller-control>
      <app-game-log #gameLogger
        (onChat)="doChat($event)">
      </app-game-log>
      <app-actor-list #actorList
        (onSetActor)="setActor($event)">
      </app-actor-list>
  </div>
  <div fxLayout="col">
    <app-canvas-dice-roll #diceRoller>
    </app-canvas-dice-roll>
  </div>
</div>
<div fxLayout="col">
  <!-- <app-maps-control (onSetMap)="handleSetMap($event)"></app-maps-control> -->
</div>

<div *ngIf="enanosi" class="ElEnano">
    <div class="enanoText">
        Bienvenido a tu nueva partida
    </div>
    <img src="assets/images/dwarf.jpg">
</div>
