
	<div class="limiter">
		<div class="container-login100" >



	<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33 flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Bienvenido a GenBoard
					</span>
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

      <button type="buton" class="btn-face m-b-20" (click)="signInWithFacebook()">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        Facebook
      </button>
      <button type="button" class="btn-google m-b-20" (click)="signInWithGoogle()">
        <i class="fa fa-google" aria-hidden="true"></i>
        <img src="../../../../assets/images/icon-google.png" alt="GOOGLE">
        Google
      </button>

<!--
					<a href="#" class="btn-face m-b-20" >
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>

					<a href="#" class="btn-google m-b-20">
						<img src="../../../../assets/images/icon-google.png" alt="GOOGLE">
						Google
					</a> -->
			</div>
		</div>
	</div>
