<form #form="ngForm">
	<div class="limiter">
			<div class="container-login100" style="background-image: url('assets/images/backgroundLogin.jpg');">
				<div class="container">
					<div id="login" class="signin-card">
						<div class="logo-image">
							<img src="./assets/images/logo/dice.png"
								alt="Logo" width="138">
						</div>
						<h1 class="display1 title">Genboard</h1>
						<!-- <div class="p-t-31 p-b-9 center">
							<span class="txt1">
								Usuario
							</span>
						</div> -->
						<div class="p-t-31 p-b-9 center">
							<mat-form-field>
								<input matInput
									name="nombre"
									[(ngModel)]="credentials.username"
									placeholder="nombre de usuario"
									required>
									<mat-error *ngIf="nameControl.invalid">{{getNameErrorMessage()}}</mat-error>
							</mat-form-field>
						</div>
						<div class="p-t-13 p-b-9 center">
							<mat-form-field>
							    <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'"
									name="password"
									[(ngModel)]="credentials.password"
									placeholder="password"
									required>
							    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
			  			</mat-form-field>
							<!-- <span class="txt1">
								Contraseña
							</span>
							<div id="form-login-password" class="form-group">
      					<input id="passwd" class="form-control" [(ngModel)]="credentials.password" name="password" type="password" size="18" alt="password" required>
					      <span class="form-highlight"></span>
					      <span class="form-bar"></span>

  						</div>
							<div id="form-login-remember" class="form-group">
      					<div class="checkbox checkbox-default">
				          <input id="remember" type="checkbox" value="yes" alt="Remember me" class="">
				          <label class="txt1" for="remember">Recordarme</label>
      					</div>
  						</div> -->
							<div class="center">
      					<button mat-button (click)="login()" color="success" fxFlex="100px">Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>


<!-- <form #form="ngForm">
	<div class="container">
		<div id="login" class="signin-card">
		<div class="logo-image">
			<img src="./assets/images/logo/dice.png"
				alt="Logo" width="138">
		</div>
		<h1 class="display1">Genboard</h1>
				<mat-form-field>
					<input matInput
						name="nombre"
						[(ngModel)]="credentials.username"
						placeholder="nombre de usuario"
						required>
				</mat-form-field>
				<mat-form-field>
				    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
						name="password"
						[(ngModel)]="credentials.password"
						placeholder="password"
						required>
				    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  			</mat-form-field>
		<div>
	      <button mat-button (click)="login()" color="success" fxFlex="100px">Entrar</button>
		</div>
		<div>
	      <button mat-button (click)="createUser()" color="success" fxFlex="100px">Crear Usuario</button>
		</div>
		</div>
	</div>
</form> -->
