<app-current-game #currentGame
  (onHistoryModeToParent)="historyMode()"
  (onCombatModeToParent)="initiateCombatMode($event)"
  (onMoveTokenToParent)="moveToken($event)"
  (onSetTokenToParent)="setToken()"
  (onRollToParent)="doRoll($event)"
  (onChatToParent)="doChat($event)"
  (onInitiativeToParent)="doInitiative()"
  (onThrowInitiativeToParent)="throwInitiative()"
  (onHandleNewPersonajeToParent)="doHandleNewPersonaje()"
  (onHandleDeletePersonajeToParent)="doHandleDeletePersonaje($event)"
  (onHandleFinishTurnToParent)="doFinishTurn()"
  (onHandleMapToParent)="doSetMap($event)">
</app-current-game>
