<mat-accordion>
  <mat-expansion-panel class="backColor" [expanded]="true">
    <mat-expansion-panel-header color="primary">
      Tirada
    </mat-expansion-panel-header>
    <div class="logComponent">
      <ng-template ngFor let-index="index" let-logentry [ngForOf]="log">
        <p> {{ logentry }}</p>
      </ng-template>
    </div>
    <div class="">
      <mat-form-field>
        <input matInput
          name="chat"
          [(ngModel)]="chat">
      </mat-form-field>
      <button mat-raised-button (click)="sendChat()">
        <mat-icon>send</mat-icon>
          enviar
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
